<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<main class="page-content">
  <div class="container-fluid">
    <h2>
      <%=title%>
    </h2>
    <div>
      <!-- <a href="<%=adminbaseurl%>contactus">Add more </a> -->
      <%- include ('../flashMessage') %>
    </div>
    <hr>


    <div class="container">
      <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
        action="<%= adminbaseurl %>contactus">
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="description">Description</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-file-alt"></i></div>
                <textarea type="text" name="description" class="form-control" id="description" rows="5"
                  placeholder="enter description" required>
                  <%=arrContactData ? arrContactData.description : '' %></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="fb_id">Facebook</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-facebook"></i></div>
                <input type="text" name="fb_id" class="form-control" id="fb_id" placeholder="facebook id"
                  value="<%=arrContactData ? arrContactData.fb_id : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="twitter_id">Twitter</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-twitter"></i></div>
                <input type="text" name="twitter_id" class="form-control" id="twitter_id" placeholder="twitter id"
                  value="<%=arrContactData ? arrContactData.twitter_id : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="insta_id">Instagram</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-instagram"></i></div>
                <input type="text" name="insta_id" class="form-control" id="insta_id" placeholder="instagram id"
                  value="<%=arrContactData ? arrContactData.insta_id : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="linkdin_id">LinkedIn</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-linkedin"></i></div>
                <input type="text" name="linkdin_id" class="form-control" id="linkdin_id" placeholder="linkedin id"
                  value="<%=arrContactData ? arrContactData.linkdin_id : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="location">Location</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-map-marker"></i></div>
                <input type="text" name="location" class="form-control" id="location" placeholder="your location"
                  value="<%=arrContactData ? arrContactData.location : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="mobile">Mobile</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                <input type="text" name="mobile" class="form-control" id="mobile" placeholder="your mobile no"
                  value="<%=arrContactData ? arrContactData.mobile : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="email">E-Mail Address</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com"
                  value="<%=arrContactData ? arrContactData.email : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label>Active</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-database"></i></div>
                <select class="form-control" name="status">
                  <option value=''>choose....</option>
                  <option <% if(arrContactData.status=='Yes'){ %>selected="selected" <% }%> value="Yes">Yes
                  </option>
                  <option <% if(arrContactData.status=='No'){ %>selected="selected" <% }%> value="No">
                    No</option>
                  <option <% if(arrContactData.status=='Blocked'){ %>selected="selected" <% }%> value="Blocked">Blocked
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="image">Logo</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"></div>
                <input type="file" class="form-group" id="image" name="image" accept="image/*" onchange="preView()"
                  value="<%= arrContactData ? arrContactData.logo : '' %>">
                <% if(arrContactData.logo !='' && arrContactData.logo != null){%>
                <img id="preview"
                  src="<%= adminbaseurl + 'web-contents/ContactUs/'+arrContactData.contact_id+'/' + arrContactData.logo %>"
                  style="height:80px;width:80px;" class="img-thumbnail" />
                <% }else{ %>
                <img id="preview" src="<%= baseurl + 'user.png' %>" style="height:80px;width:80px;"
                  class="img-thumbnail" />
                <% } %>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-12">
            <input type="hidden" name="form_contact_id" value="<%= arrContactData ? arrContactData.contact_id : '' %>">
            <button type="submit" style="float:right;" class="btn btn-success"><i class="fa fa-user-plus"></i>
              <%= arrContactData ? 'Update' : 'Submit' %></button>
          </div>
        </div>
      </form>
    </div>

    <%- include ('../layouts/footer') %>

    <script>
      function preView() {
        var fileInput = document.getElementById('image');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        if (!allowedExtensions.exec(filePath)) {
          fileInput.value = '';
          return false;
        } else {
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function () {
              var output = document.getElementById('preview');
              output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
            $("#image-error").remove();
          };
        }
        // $("#x_content").click(); 
      }
    </script>
    