<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="<%=adminbaseurl%>dashboard">CodesByte</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <%
                var image = 'Admin/'+sessionAdminId+'/'+sessionAdminImage;
                if(helper.isFileExistsIn(image)) image = adminbaseurl +'web-contents/'+  image;
                else image = baseurl + "web-contents/user.png";
                %>
                <img src="<%= image %>" class="oc-profile-picture" style="width: 50px; height: 50px;">
            </div>
            <div class="user-info">
                <span class="user-name">
                  <strong><%=sessionAdminFullName%></strong>
                </span>
                <span class="user-role"> <b><%=sessionAdminPh%></b></span>
                <span class="user-status">
                    <a href="<%=adminbaseurl%>logout">logout</a>
                </span>
            </div>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                    <!-- <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="#">Dashboard 1
                                    <span class="badge badge-pill badge-success">Pro</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Dashboard 2</a>
                            </li>
                            <li>
                                <a href="#">Dashboard 3</a>
                            </li>
                        </ul>
                    </div> -->
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>admin-user/list">
                        <i class="fa fa-users"></i>
                        <span>Admin</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>aboutus">
                        <i class="fa fa-users"></i>
                        <span>About Us</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>contactus">
                        <i class="fas fa-phone"></i>
                        <span>ContactUs</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>client/list">
                        <i class="fa fa-user-plus"></i>
                        <span>Client</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>feature/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Feature</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>portfolio/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Portfolio</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>team/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Team</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>service/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Service</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>testimonial/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Testimonial</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>developer/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Developer</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>faq/list">
                        <i class="fa fa-asterisk"></i>
                        <span>FAQ</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>blog/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Blog</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>blog_category/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Blog Category</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
</nav>