<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="<%=adminbaseurl%>dashboard">CodesByte</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <%
                var image = 'Admin/'+adminTableDetails.admin_id+'/'+adminTableDetails.image;
                if(helper.isFileExistsIn(image)) image = baseurl +'web-contents/'+  image;
                else image = baseurl + "web-contents/user.png";
                %>
                <img src="<%= image %>" class="oc-profile-picture" style="width: 50px; height: 50px;">
            </div>
            <div class="user-info">
                <span class="user-name">
                  <strong><%=adminTableDetails.name%></strong>
                </span>
                <span class="user-role"> <b><%=adminTableDetails.mobile%></b></span>
                <span class="user-status">
                    <a href="<%=adminbaseurl%>logout">logout</a>
                </span>
            </div>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                    <!-- <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="#">Dashboard 1
                                    <span class="badge badge-pill badge-success">Pro</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Dashboard 2</a>
                            </li>
                            <li>
                                <a href="#">Dashboard 3</a>
                            </li>
                        </ul>
                    </div> -->
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>admin-user/list">
                        <i class="fa fa-users"></i>
                        <span>Admin</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>contactus">
                        <i class="fas fa-phone"></i>
                        <span>ContactUs</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>client/list">
                        <i class="fa fa-user-plus"></i>
                        <span>Client</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="<%=adminbaseurl%>feature/list">
                        <i class="fa fa-asterisk"></i>
                        <span>Feature</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
</nav>