<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">

<main class="page-content">
    <div class="container-fluid">
        <h2><%=title%></h2>
        <div>
            <a href="<%=adminbaseurl%>portfolio"> Add Portfolio </a>
            <%- include ('../flashMessage') %>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">SL</th>
                        <th class="text-center">Screen Shot</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">URL</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Active</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% var i=1; arrPortfolioData.forEach(function(val){ %>
                    <tr>
                        <td class="text-center"><%= i; %> <%! i++; %> </td>
                        <td class="text-center"> <%
                            var screen_shot = 'Portfolio/'+val.portfolio_id+'/'+val.screen_shot;
                            if(helper.isFileExistsIn(screen_shot)) screen_shot = baseurl +'web-contents/'+  screen_shot;
                            else screen_shot = baseurl + "web-contents/user.png";
                            %>
                            <img src="<%= screen_shot %>" class="oc-profile-picture" style="width: 50px; height: 50px;"></td>
                            <td class="text-center"><%= val.name %></td>
                            <td class="text-center"><%= val.url %></td>
                            <td class="text-center"><%= val.type %></td>
                            <td class="text-center"><%= val.status %></td>
                            <td class="text-center">
                            <a rel="tooltip" class="btn btn-success btn-just-icon btn-sm"
                                href="<%= adminbaseurl%>portfolio/<%= val.portfolio_id %>" data-original-title="" title="">
                                <i class="material-icons">edit</i>
                            </a>
                            <a rel="tooltip" class="btn btn-danger btn-just-icon btn-sm"
                                onclick="return confirm('Are you sure to delete?')"
                                href="<%= adminbaseurl%>portfolio/delete/<%= val.portfolio_id %>" data-original-title=""
                                title="">
                                <i class="material-icons">close</i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <%- include ('../layouts/footer') %>