<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">

<main class="page-content">
  <div class="container-fluid">
    <h2><%=title%></h2>
    <div><a href="<%=adminbaseurl%>admin-user"> Add Admin </a>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">SL</th>
            <th class="text-center">DP</th>
            <th class="text-center">Name</th>
            <th class="text-center">Username</th>
            <th class="text-center">Email</th>
            <th class="text-center">Mobile</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% var i=1; arrAdminData.forEach(function(val){ %>
            <tr>
              <td class="text-center"><%= i %></td>
              <td class="text-center"><%= val.image %></td>
              <td class="text-center"><%= val.name %></td>
              <td class="text-center"><%= val.username %></td>
              <td class="text-center"><%= val.email %></td>
              <td class="text-center"><%= val.mobile %></td>
              <td class="text-center">
                <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                  <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                  <i class="material-icons">close</i>
                </button>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

<%- include ('../layouts/footer') %>



