<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<main class="page-content">
    <div class="container-fluid">
        <h2>
            <%=title%>
        </h2>
        <div>
            <!-- <a href="<%=adminbaseurl%>contactus">Add more </a> -->
            <%- include ('../flashMessage') %>
        </div>
        <hr>


        <div class="container">
            <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
                action="<%= adminbaseurl %>aboutus">
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="introduction">Introduction</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-file-alt"></i>
                                </div>
                                <textarea type="text" name="introduction" class="form-control" id="introduction"
                                    placeholder="" required>
                    <%=arrAboutUsData ? arrAboutUsData.introduction : '' %></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-12">
                        <input type="hidden" name="form_aboutus_id"
                            value="<%= arrAboutUsData ? arrAboutUsData.aboutus_id : '' %>">
                        <button type="submit" style="float:right;" class="btn btn-success"><i
                                class="fa fa-user-plus"></i>
                            <%= arrAboutUsData ? 'Update' : 'Submit' %></button>
                    </div>
                </div>
            </form>
        </div>

        <%- include ('../layouts/footer') %>

