<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="<%= adminbaseurl %>dashboard" class="brand-link">
    <img src="<%=adminbaseurl%>dist/logogyws.png" style="position: relative;width: 196px;margin-top: -24px;
      margin-bottom: -16px;left: 7px;">
    <span class="brand-text font-weight-light"></span>
  </a>



  <!-- Sidebar -->
  <div class="sidebar">


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
          <a href="<%= adminbaseurl %>dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= adminbaseurl %>admin-user/list" class="nav-link">
            <i class="nav-icon fa fa-user-secret"></i>
            <p> Admin </p>
          </a>
        </li>

        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-university"></i>
            <p> Institute <i class="fas fa-angle-left right"></i> </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>institute/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Institute </p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>institute_user/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Institute User </p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>institute_class/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Institute Class</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>fees_structure/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Fees Structure</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview menu-open">
          <a href="" class="nav-link">
            <i class="nav-icon fa fa-user-graduate"></i>
            <p> Student </p><i class="fas fa-angle-left right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>student/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Student </p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>student_attendance/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student Attendance</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>student_enrollment/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student Enrollment</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>student_report/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student Report</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-asterisk"></i>
            <p> Master <i class="fas fa-angle-left right"></i> </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>class/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Class</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>subject/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Subject </p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>section/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Section </p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= adminbaseurl %>teachers/list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Teacher</p>
              </a>
            </li>
          </ul>
        </li>

       
        <li class="nav-item">
          <a href="<%= adminbaseurl %>class_routine/list" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>Class Routine</p>
          </a>
        </li>


        
        
        <li class="nav-item">
          <a href="<%= adminbaseurl %>teacher_class/list" class="nav-link">
            <i class="nav-icon fa fa-chalkboard-teacher"></i>
            <p>Teachers Class</p>
          </a>
        </li>



        <li class="nav-item">
          <a href="<%= adminbaseurl %>fees_details/list" class="nav-link">
            <i class="nav-icon fa fa-money-bill-alt"></i>
            <p>Fees Details</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="<%= adminbaseurl %>events/list" class="nav-link">
            <i class="nav-icon fa fa-calendar-check"></i>
            <p>Events</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= adminbaseurl %>online_class/list" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>Online Class</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= adminbaseurl %>online_library/list" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>Online Library</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= adminbaseurl %>role/list" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>Role</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= adminbaseurl %>role_permission/list" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>Role Permission</p>
          </a>
        </li>

        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>