<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">


<main class="page-content">
  <div class="container-fluid">
    <h2>
      <%=title%>
    </h2>
    <div>
      <a href="<%=adminbaseurl%>testimonial/list"> Testimonial List </a>
      <%- include ('../flashMessage') %>
      <hr>
      <div class="container">
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
          action="<%= adminbaseurl %>testimonial">
          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="name">Name</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name"
                    value="<%=arrTestimonialData ? arrTestimonialData.name : '' %>" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="profession">Profession</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                  <input type="text" name="profession" class="form-control" id="profession" placeholder="profession"
                    value="<%=arrTestimonialData ? arrTestimonialData.profession : '' %>" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="intro">Intro</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                  <textarea type="text" name="intro" class="form-control" id="intro" placeholder = "enter intro" required>
                    <%=arrTestimonialData ? arrTestimonialData.intro : '' %></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="dp">DP</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"></div>
                  <input type="file" class="form-group" id="dp" name="dp" accept="dp/*" onchange="preView()"
                    value="<%= arrTestimonialData ? arrTestimonialData.dp : '' %>">
                  <% if(arrTestimonialData.dp !='' && arrTestimonialData.dp != null){%>
                  <img id="preview"
                    src="<%= adminbaseurl + 'web-contents/Testimonial/'+arrTestimonialData.testimonial_id+'/' + arrTestimonialData.dp %>"
                    style="height:80px;width:80px;" class="img-thumbnail" />
                  <% }else{ %>
                  <img id="preview" src="<%= baseurl + 'user.png' %>" style="height:80px;width:80px;"
                    class="img-thumbnail" />
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-12">
              <input type="hidden" name="form_testimonial_id" value="<%= arrTestimonialData ? arrTestimonialData.testimonial_id : '' %>">
              <button type="submit" style ="float:right;" class="btn btn-success"><i class="fa fa-user-plus"></i>
                <%= arrTestimonialData ? 'Update' : 'Submit' %></button>
            </div>
          </div>
        </form>
      </div>

      <%- include ('../layouts/footer') %>

      <script>
        function preView() {
          var fileInput = document.getElementById('dp');
          var filePath = fileInput.value;
          var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
          if (!allowedExtensions.exec(filePath)) {
            fileInput.value = '';
            return false;
          } else {
            //dp preview
            if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function () {
                var output = document.getElementById('preview');
                output.src = reader.result;
              };
              reader.readAsDataURL(event.target.files[0]);
              $("#dp-error").remove();
            };
          }
          // $("#x_content").click(); 
        }
      </script>
     